{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="container">

  <!-- Reading Challenge -->
  <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
    <h2 class="heading">📚 Reading Challenge</h2>
  </div>
  <div class="progress">
    <div class="progress-bar" style="width: {{ progress }}%;"></div>
    <div class="progress-text">{{ read_books }}/{{ goal }}</div>
  </div>

  <!-- Currently Reading -->
  <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 40px; margin-bottom: 20px;">
    <h2 class="heading">📖 Currently Reading</h2>
    <a href="{{ url_for('add', target='current') }}" class="button">Add Book</a>
  </div>

  <div class="book-grid">
    {% for book in currently_reading %}
      <div class="card" onclick="window.location='{{ url_for('book_detail', book_id=book.id) }}'">
        <div class="front" style="background-image: url({{ book.img_url }});"></div>
        <div class="back">
          <div class="book-info">
            <h2>{{ book.title }}</h2>
            <p>{{ book.author }} ({{ book.year }})</p>
            <p>Started: {{ book.date_started.strftime('%Y-%m-%d') if book.date_started else "Not set" }}</p>
            <div class="buttons">
            <a href="{{ url_for('finish', id=book.id) }}" class="button">Finish</a>
            <a href="{{ url_for('delete', target='home', id=book.id) }}" class="button delete-button">Delete</a>
          </div>
          </div>

        </div>
      </div>
    {% else %}
      <p>No books currently being read.</p>
    {% endfor %}
  </div>

  <!-- Recently Read -->
  <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 40px; margin-bottom: 20px;">
    <h2 class="heading">✅ Recently Read</h2>
  </div>

  <div class="book-grid">
    {% for book in recently_read %}
      <div class="card" onclick="window.location='{{ url_for('book_detail', book_id=book.id) }}'">
        <div class="front" style="background-image: url({{book.img_url}});"></div>
        <div class="back">
          <div class='book-info'>
            <h2>{{ book.title }}</h2>
            <p>{{ book.author }} ({{ book.year }})</p>
            <p>{{ book.star_rating if book.star_rating else "N/A" }}⭐</p>
            <p>{{ book.spice_rating if book.spice_rating else "N/A" }}🌶️ </p>
            <p class="review">{{ book.review }}</p>
            <p>Finished: {{ book.date_finished }}</p>
          </div>
        </div>
      </div>
    {% else %}
      <p>No recently read books.</p>
    {% endfor %}
  </div>

</div>
{% endblock %}
