{% extends 'base.html' %}

{% block title %}Select Book{% endblock %}

{% block content %}
<div class="container">
    <h1 class="heading">Select Book</h1>
    <div class="book-list">
        {% for result in results %}
            <div class="book-item">
                {% set olid = result.key.split('/')[-1] %}
                <a href="{{ url_for('find', target=target, id=olid) }}">
                    {{ result['title'] }}
                    {% if result.first_publish_year %} ({{ result.first_publish_year }}){% endif %}
                    {% if result.author_name %} – {{ result.author_name[0] }}{% endif %}
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}