{% extends 'base.html' %}

{% block title %}Select Book{% endblock %}

{% block content %}
<div class="container">
    <h1 class="heading">Select Book</h1>
    <p>
        {% for result in results %}
            <div>
                {% set olid = result.key.split('/')[-1] %}
                <a href="{{ url_for('find_current', id=olid) }}">
                    {{ result['title'] }} - {{ result['first_publish_year'] if result['first_publish_year'] else 'Unknown Year' }}
                    {% if result.author_name %} by {{ result.author_name[0] }} {% endif %}
                </a>
            </div>
        {% endfor %}
    </p>
</div>
{% endblock %}